body {
    background-color: #b57edc;
    height: 100vh;
  }
  .container{
    background-color: rgb(119, 63, 165);
    padding: 60px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    margin: 20px;
    color: white;
  }
  .flex-container {
    display: flex;
    width: 100%;
}

.left, .right {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}

.left img, .right img {
    width: 100%;
    height: auto;
}
.cadastre{
    background-color: rgb(218, 162, 245);
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    max-width: 80px;
    width: 100%;
    margin: 20px;
    text-align: center;
    display: inline-block;
    border-radius: 12px;
    color: white;
    max-height: 100px;
  }
