@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400..700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #b57edc;
  height: 100vh;
}

button:hover {
  transform: scale(1.05);
}

.interface {
  max-width: 1280px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

header {
  padding: 40px 4%;
}

header > .interface{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  color: white;
  text-decoration: none;
  font-family: "Alkatra", sans-serif;
}

header nav ul{
  list-style-type: none;
}

header nav ul li{
  display: inline-block;
  padding: 0 40px;
}

.btn button{
  padding: 10px 40px;
  font-size: 18px;
  font-weight: 700;
  color: #b57edc;
  font-family: "Alkatra", sans-serif;
  background-color: white;
  border: 0;
  border-radius: 30px;
  cursor: pointer;
  transition: .2s;
  margin: 5px;
}

section .topo-do-site {
  padding: 40px 4%;
}

section .topo-do-site .flex {
  align-items: center;
  justify-content: center;
  gap: 90px;
}

.topo-do-site h1 {
  color: white;
  font-size: 42px;
  font-family: "Alkatra", sans-serif;
  line-height: 40px;
}

.topo-do-site .txt-topo-site p {
  color: white;
  font-size: 20px;
  font-family: "Alkatra", sans-serif;
  margin: 40px 0;
  line-height: 25px;
}

.topo-do-site .txt-topo-site p span {
  color: #4b1c71;
}

.topo-do-site .img-topo-site img{
  position: relative;
  animation: flutuar 2s ease-in-out infinite alternate;
  border-radius: 10px;
}

@keyframes flutuar {
  0%{
    top: 0;
  }
  100%{
    top: 30px;
  }
}

section.especialidades {
  padding: 40px 4%;
}

section.especialidades .flex {
  gap: 60px;
}

h2.titulo{
  color: white;
  font-size: 38px;
  font-family: "alkatra", sans-serif;
  text-align: center;
}

h2.titulo span{
    color: #4b1c71;
  }

.especialidades .especialidades-box {
  color: white;
  padding: 40px;
  border-radius: 20px;
  margin-top: 45px;
  transition: .2s;
}

.especialidades .especialidades-box:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.555);
}

.especialidades .especialidades-box i{
  font-size: 70px;
  color: #4b1c71;
}

.especialidades .especialidades-box h3 {
  font-size: 28px;
  font-family: "Alkatra", sans-serif;
  margin: 15px 0;
}

.especialidades .especialidades-box p {
  font-family: "Alkatra", sans-serif;
  line-height: 20px;
}

section.sobre{
  padding: 80px 4%;
}

section.sobre .flex{
  align-items: center;
  gap: 60px;
}

.sobre .img-sobre img{
  border-radius: 20px;
}

.sobre .txt-sobre{
  color: white;
  font-family: "Alkatra", sans-serif;
}

.sobre .txt-sobre h2{
  font-size: 40px;
  line-height: 40px;
  margin-bottom: 30px;
}

.sobre .txt-sobre h2 span {
  color: #4b1c71;
  display: block;
}

.sobre .txt-sobre p{
  margin: 20px 0;
  text-align: justify;
}

.btn-social button{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  color: white;
  background-color: #4b1c71;
  font-size: 22px;
  cursor: pointer;
  margin: 5px;
  transition: .2s;
}

section.trabalhos {
  padding: 40px 4%;
  box-shadow: 0 0 40px rgba(255, 255, 255, 0.418);
}

section.trabalhos .flex{
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.trabalhos .img-trab img{
  border-radius: 20px;
  margin: 8px;
}

.trabalhos .img-trab img:hover {
  transform: scale(1.05);
}

footer {
  padding: 40px 4%;
  box-shadow: 0 0 40px rgba(255, 255, 255, 0.418);
}

footer .flex{
  justify-content: space-between;
}

footer .line-footer{
  padding: 20px 0;
}

footer .line-footer p i{
  color: #4b1c71;
  font-size: 22px;
}

footer .line-footer p a{
  color: #4b1c71;
  font-family: "Alkatra", sans-serif;
}

.borda {
  border-top: 2px solid #4b1c71;
}
